In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/attribution data.csv')

In [ ]:
df.head()

,cookie,time,interaction,conversion,conversion_value,channel
0,00000FkCnDfDDf0iC97iC703B,2018-07-03T13:02:11Z,impression,0,0.0,Instagram
1,00000FkCnDfDDf0iC97iC703B,2018-07-17T19:15:07Z,impression,0,0.0,Online Display
2,00000FkCnDfDDf0iC97iC703B,2018-07-24T15:51:46Z,impression,0,0.0,Online Display
3,00000FkCnDfDDf0iC97iC703B,2018-07-29T07:44:51Z,impression,0,0.0,Online Display
4,0000nACkD9nFkBBDECD3ki00E,2018-07-03T09:44:57Z,impression,0,0.0,Paid Search

In [ ]:
df['time']= pd.to_datetime(df['time'])

In [ ]:
df['path_order'] = df.sort_values(by='time').groupby('cookie').cumcount()+1

In [ ]:
df.head(10)

,cookie,time,interaction,conversion,conversion_value,channel,path_order
0,00000FkCnDfDDf0iC97iC703B,2018-07-03 13:02:11+00:00,impression,0,0.0,Instagram,1
1,00000FkCnDfDDf0iC97iC703B,2018-07-17 19:15:07+00:00,impression,0,0.0,Online Display,2
2,00000FkCnDfDDf0iC97iC703B,2018-07-24 15:51:46+00:00,impression,0,0.0,Online Display,3
3,00000FkCnDfDDf0iC97iC703B,2018-07-29 07:44:51+00:00,impression,0,0.0,Online Display,4
4,0000nACkD9nFkBBDECD3ki00E,2018-07-03 09:44:57+00:00,impression,0,0.0,Paid Search,1
5,0000nACkD9nFkBBDECD3ki00E,2018-07-03 23:36:49+00:00,impression,0,0.0,Paid Search,2
6,0000nACkD9nFkBBDECD3ki00E,2018-07-10 22:24:41+00:00,impression,0,0.0,Paid Search,3
7,0000nACkD9nFkBBDECD3ki00E,2018-07-10 22:24:44+00:00,impression,0,0.0,Paid Search,4
8,0000nACkD9nFkBBDECD3ki00E,2018-07-11 21:21:46+00:00,impression,0,0.0,Paid Search,5
9,0000nACkD9nFkBBDECD3ki00E,2018-07-11 22:19:53+00:00,impression,0,0.0,Paid Search,6

In [ ]:
df_path= df.groupby('cookie')['channel'].agg(lambda x: x.tolist()).reset_index()
df_path= df_path.rename(columns={'channel':'path'})
df_path.head()

,cookie,path
0,00000FkCnDfDDf0iC97iC703B,"[Instagram, Online Display, Online Display, On..."
1,0000nACkD9nFkBBDECD3ki00E,"[Paid Search, Paid Search, Paid Search, Paid S..."
2,0003EfE37E93D0BC03iBhBBhF,"[Paid Search, Paid Search, Paid Search, Paid S..."
3,00073CFE3FoFCn70fBhB3kfon,[Instagram]
4,00079hhBkDF3k3kDkiFi9EFAD,[Paid Search]

In [ ]:
df_last_interaction= df.drop_duplicates('cookie',keep='last')[['cookie',
                                                               'conversion',
                                                               'conversion_value']]

df_last_interaction.head()

                       cookie  conversion  conversion_value
3   00000FkCnDfDDf0iC97iC703B           0               0.0
9   0000nACkD9nFkBBDECD3ki00E           0               0.0
14  0003EfE37E93D0BC03iBhBBhF           0               0.0
15  00073CFE3FoFCn70fBhB3kfon           0               0.0
16  00079hhBkDF3k3kDkiFi9EFAD           0               0.0

In [ ]:
df_cust_journey =pd.merge(df_path, df_last_interaction, how='left', on='cookie')
df_cust_journey.head()

,cookie,path,conversion,conversion_value
0,00000FkCnDfDDf0iC97iC703B,"[Instagram, Online Display, Online Display, On...",0,0.0
1,0000nACkD9nFkBBDECD3ki00E,"[Paid Search, Paid Search, Paid Search, Paid S...",0,0.0
2,0003EfE37E93D0BC03iBhBBhF,"[Paid Search, Paid Search, Paid Search, Paid S...",0,0.0
3,00073CFE3FoFCn70fBhB3kfon,[Instagram],0,0.0
4,00079hhBkDF3k3kDkiFi9EFAD,[Paid Search],0,0.0

In [ ]:
print('total conversion = ', sum(df_cust_journey['conversion']))
print('conversion rate = ',sum(df_cust_journey['conversion'])/len(df)*100 )

total conversion =  17639
conversion rate =  3.0062873144185556

In [ ]:
def path_creation(df):
  str1=''
  for i in df['path']:
    str1 += i + ' > '
  return str1[:-3]

In [ ]:
df_cust_journey['path']= df_cust_journey.apply(path_creation, axis=1)
df_cust_journey.head()

,cookie,path,conversion,conversion_value
0,00000FkCnDfDDf0iC97iC703B,Instagram > Online Display > Online Display > ...,0,0.0
1,0000nACkD9nFkBBDECD3ki00E,Paid Search > Paid Search > Paid Search > Paid...,0,0.0
2,0003EfE37E93D0BC03iBhBBhF,Paid Search > Paid Search > Paid Search > Paid...,0,0.0
3,00073CFE3FoFCn70fBhB3kfon,Instagram,0,0.0
4,00079hhBkDF3k3kDkiFi9EFAD,Paid Search,0,0.0

In [ ]:
df_cust_journey['path'][1]

'Paid Search > Paid Search > Paid Search > Paid Search > Paid Search > Paid Search'

In [ ]:
df_cust_journey['null']= np.where(df_cust_journey['conversion']==0,1,0)
df_cust_journey.head()

,cookie,path,conversion,conversion_value,null
0,00000FkCnDfDDf0iC97iC703B,Instagram > Online Display > Online Display > ...,0,0.0,1
1,0000nACkD9nFkBBDECD3ki00E,Paid Search > Paid Search > Paid Search > Paid...,0,0.0,1
2,0003EfE37E93D0BC03iBhBBhF,Paid Search > Paid Search > Paid Search > Paid...,0,0.0,1
3,00073CFE3FoFCn70fBhB3kfon,Instagram,0,0.0,1
4,00079hhBkDF3k3kDkiFi9EFAD,Paid Search,0,0.0,1

In [ ]:
df_attr= df_cust_journey.groupby(['path'], as_index=False).sum()
df_attr.head()

,path,conversion,conversion_value,null
0,Facebook,2054,12857.0,32802
1,Facebook > Facebook,538,3295.0,7410
2,Facebook > Facebook > Facebook,230,1458.0,2066
3,Facebook > Facebook > Facebook > Facebook,85,542.5,751
4,Facebook > Facebook > Facebook > Facebook > Fa...,41,255.5,318

In [ ]:
df_attr.shape

(11374, 4)

In [ ]:
# !pip install ChannelAttribution
from ChannelAttribution import *

Looking for attribution at path level? Try markov_model_local_api() or ask for ChannelAttributionPro at info@channelattribution.io! Visit https://channelattribution.io for more information.
Version: 2.1.3

In [ ]:
M = markov_model(df_attr, 'path', 'conversion')

Number of simulations: 100000 - Convergence reached: 1.49% < 5.00%
Percentage of simulated paths that successfully end before maximum number of steps (48) is reached: 99.99%

In [ ]:
M.sort_values('total_conversions',ascending=False)

     channel_name  total_conversions
0        Facebook        5312.192136
3     Paid Search        3974.573599
1       Instagram        3474.655560
2    Online Video        2852.009894
4  Online Display        2025.568811

In [ ]:
sum(M['total_conversions'])/sum(df['conversion'])

1.0

In [ ]:
H = heuristic_models(df_attr, 'path', 'conversion')

In [ ]:
H

     channel_name  first_touch  last_touch  linear_touch
0        Facebook       5177.0      5301.0   5218.903371
1       Instagram       2329.0      2244.0   2265.179353
2  Online Display       2160.0      2139.0   2124.315256
3    Online Video       3216.0      3408.0   3349.403371
4     Paid Search       4757.0      4547.0   4681.198650

In [ ]:
## creating own code

In [ ]:
def markov_model(df_paths):
  
  df_paths = df_paths[['cookie', 'path']]
  df_paths.to_Cs("customer journey first.csv", index=False)
  list_of_paths = df_paths['path']

  base_conversion = len(df_paths[df_paths['conversion']==1])/len(df_paths)